<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38615463653-ks8pcd5g0dbfa0pb12387oq9hr63or3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38615463653-ks8pcd5g0dbfa0pb12387oq9hr63or3p</string>
	<key>API_KEY</key>
	<string>AIzaSyDv8N_TZDcCo6QHAKkMDf8GmIFYrmKvCm0</string>
	<key>GCM_SENDER_ID</key>
	<string>38615463653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruralapp.proyectoflutterv1</string>
	<key>PROJECT_ID</key>
	<string>ruralapp-d200c</string>
	<key>STORAGE_BUCKET</key>
	<string>ruralapp-d200c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38615463653:ios:6d7b3f0453c7cfe417860c</string>
</dict>
</plist>